.idea/
*.bak
notebooks/.ipynb_checkpoints/
notebooks/plotting/sample_data/
data/
*.pyc
**/tests
src/tests/
**ipynb_checkpoints/
*.jpg

**/__pycache__/
**notebooks/plotting/
reports/figures/

**/__pycache__/

**figures/
results/outputs/

**img/
**report.pdf
**report.zip
**LaTeX-Documentation/
**confirmation_en.pdf

**logs/

src/plot_generation/christoph_sample.py
